/node_modules
/public/hot
/public/storage
/public/assets/vl_videos
/resources/views/assets/vl_videos
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
